.cart-tag{
  width: 16px;
  height: 16px;
  //line-height: 1.333;
}

.navbar-lg-search
{
  width: 400px;
}
.navbar .search-ps-10{
  padding-left: 40px;
}

.avatar span{
  color: white;
  background: #CBB6AF;
}