<footer class="footer">

    <div class="container position-relative">

    <div class="d-flex flex-column">
        <div class="mb-5">
<a class="navbar-brand p-0 me-7" href="index"><img src="https://hex2025-f2e-live-week7and8.pages.dev/primary-logo.svg" alt="logo"></a>
        </div>
        <ul class="d-flex flex-column flex-lg-row gap-4 gap-lg-5">
            <li class="fs-7 text-white">常見問題</li>
            <li class="fs-7 text-white">關於我們</li>
            <li class="fs-7 text-white">隱私權政策</li>
            <li class="fs-7 text-white">使用者條款</li>
        </ul>
        
    </div>
    </div>
</footer>


