.air-datepicker-body--day-name{
    color: #221F1E;
}

.air-datepicker-cell.-selected- {
    background: #F3EEEC;
    color: $black;
}

.air-datepicker-cell.-selected-.-focus-{
    background: #F3EEEC;
}

.air-datepicker-cell.-current-{
    color: red;
}

.air-datepicker-cell.-disabled-{
    text-decoration: line-through;
    color: lightgray;
}

.air-datepicker-nav--title{
    order: -1;
    margin-right: auto;
}

.air-datepicker{
    width: 100%;
}